.feedbacks {
	margin: 0;
	padding: 0;

	list-style: none;
}

.feedbacks__top {
	display: flex;
}

.feedbacks__operations {
	margin-left: auto;
}

.feedbacks__edit,
.feedbacks__delete {
	display: inline-block;
	padding: 0;

	background-color: transparent;
	border: none;

	&:hover {
		text-decoration: underline;
	}
}

.feedbacks__edit {
	position: relative;
	padding-right: 10px;

	&::after {
		content: '';
		position: absolute;
		right: 1px;
		top: 50%;
		transform: translateY(-50%);

		width: 3px;
		height: 3px;

		background-color: #ffffff;
	}
}

.feedbacks__rate {
	fill: #7ED321;
}

.feedbacks__message {
	margin-top: 9px;
	margin-bottom: 20px;

	text-align: justify;
	letter-spacing: 0.0571991px;
}

.feedbacks__reply-content {
	display: none;
	margin-top: 22px;
	padding-left: 95px;

	&--show {
		display: block;
	}
}

.feedbacks__reply-content .feedback__avatar {
	left: 35px;

	width: 40px;
	height: 40px;

	&::after {
		width: 8px;
		height: 8px;

		border-width: 3px;
	}
}

.feedbacks__reply-content .feedback__picture {
	width: 40px;
	height: 40px;
}

.feedbacks__icon-arrow {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	fill: #ffffff;
}

.feedbacks__reply-comments {
	margin: 0;
	padding: 0;
	margin-left: 34px;
	display: none;

	list-style: none;
}

.feedbacks__replies--full .feedbacks__reply-comments  {
	display: block;
}

.feedbacks__wrapper {
	position: relative;
	display: flex;
	align-items: center;
	
	margin-top: 22px;
	margin-bottom: 24px;
	padding-left: 45px;

	cursor: pointer;

	&--show {
		
	}

	&--hide {
		display: none;
	}

	&--hover {
		background-color: #000000;
		padding-right: 26px;
	}
}

.feedbacks__wrapper .feedbacks__icon-arrow {
	left: 10px;
}

.feedbacks__wrapper .feedback__avatar {
	position: relative;

	width: 40px;
	height: 40px;
	margin-right: 7px;

	&::after {
		width: 8px;
		height: 8px;

		border-width: 3px;
	}
}

.feedbacks__wrapper .feedback__picture {
	width: 40px;
	height: 40px;
}

.feedbacks__add-reply {
	width: 40px;
	height: 40px;
	margin-right: 10px;

	font-size: 0;

	background-color: #565656;
	border: none;
	border-radius: 50%;
	outline: none;

	&:before {
		content: '+';

		font-size: 30px;
	}
}

.feedbacks__counter {
	flex-shrink: 0;
	margin-right: 16px;

	letter-spacing: 0.0571991px;
	color: #7ED321;
}

.feedbacks__line {
	display: none;
	width: 100%;
	border-color: #979797;
}

.feedbacks__replies--full .feedbacks__line {
	display: block;
}

.feedbacks__view-thread {
	display: none;
}

.feedbacks__wrapper--hover .feedbacks__view-thread {
	display: block;
}

.feedbacks__wrapper--hover .feedbacks__last-reply {
	display: none;
}

.feedbacks__view-thread,
.feedbacks__last-reply {
	mix-blend-mode: normal;
	opacity: 0.5;
}

.feedbacks__icon-arrow-right {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	display: none;

	fill: #ffffff;
}

.feedbacks__wrapper--hover .feedbacks__icon-arrow-right {
	display: block;
}

.feedbacks__replies--full {
	background-color: transparent;
	cursor: auto;
}

.feedbacks__replies--full .feedback__avatar,
.feedbacks__replies--full .feedbacks__add-reply,
.feedbacks__replies--full .feedbacks__view-thread,
.feedbacks__replies--full .feedbacks__last-reply,
.feedbacks__replies--full .feedbacks__icon-arrow-right {
	display: none;
}

.feedbacks__reply-comments .feedback__avatar {
	display: block;
}

.feedbacks__like,
.feedbacks__reply,
.feedbacks__time {
	display: inline-block;
	padding-right: 10px;
}

.feedbacks__like,
.feedbacks__reply {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		right: 1px;
		top: 50%;
		transform: translateY(-50%);

		width: 3px;
		height: 3px;

		background-color: #ffffff;
	}

	&:hover {
		cursor: pointer;

		text-decoration: underline;
	}
}

.feedbacks__time {
	opacity: 0.5;
}

